.gotop {
	right:1%;
	bottom:80px;
	position:fixed;
	border-radius:5px;
	background:#888;
	color:white;
	padding:10px;
	cursor:pointer;
	border: 1px solid #aaa;
	box-shadow: 0 0 20px #aaa;
	z-index: 9;
}

table {
	border-collapse: collapse !important;
}

table td {
	border: 1px solid #CCC !important;
}

body {
	font: 14px/1.5 arial,sans-serif;
	line-height: 24px;
	color: #333;
}
