{% extends "WikiUIBundle::layout.html.twig" %}
{% block scripts %}
{% endblock %}
{% block body %}
<div>sss</div>
<textarea class="tinymce">
</textarea>
{{ tinymce_init() }}
<div>sss</div>
{% endblock %}
